<div class="container">
    <div *ngFor="let event of eventList">
        <div>{{event.topic.name}}</div>
        <div class="event" class="row" >
            <div class="col-3"><img src="{{event.image}}" width="150" height="150"></div>
            <div class="row flex-column col-3">
                <div class="col">{{event.name}}</div>
                <div class="col">{{event.address.city}}</div>
                <div class="col">{{event.date}}</div>
            </div>
            <div class="row flex-column">
                <div class="col"> <a href="#" class="link-primary">See details</a></div>
                <div class=col><button class="btn btn-primary"> Register</button></div>
            </div>
        </div>
    </div>
</div>
