
.btn-primary{
    background-color: rgb(2, 2, 100);
}


.name{
    padding-top: 25%;
}

.details{
    background-color: rgba(0, 0, 0, 0.281);
}

a{
    color: black;
    text-decoration: underline;
}
