.container{
    display: flex-wrap;
    width: 100%;
}

img{
    width: 100%;
}

body{
    display: flex-wrap;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    text-align: center;
    margin-bottom: 5%;
}

h1{
    font-family: Comfortaa;
    margin-top: 5%;
    margin-left: 5%;
    width: 100%;
}

.btn{
    background-color: rgb(2, 2, 100);
    width : 40%;
    width: 20%;
}