<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a *ngIf="isLoggedIn()" class="nav-link" href="/event/list">Events <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>

    <div class="d-flex justify-content-right" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button  *ngIf="isLoggedIn()" class="btn text-white" (click)="logout()" >Log out <span class="sr-only">(current)</span></button>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>