.loginform{
    display: flex-wrap;
    flex-direction: row;
    margin-top: 5%;
    font-family: Comfortaa;
    font-size: x-large;
}

input{
    margin-right: 30%;
    margin-left: 10%;
    margin-top: 5%;
    width : 30%;
}

h1{
    width : 40%;
    margin-right: 30%;
    margin-left: 10%;
}

.btn{
    background-color: rgb(2, 2, 100);
    margin-right: 30%;
    margin-left: 10%;
    margin-top: 10%;
    width: 30%;
    font-size: x-large;
}

.bi{
    height: 20px;
}