<div class="container">
    <p>event-form works!</p>

   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Create new Address
    </button>
  
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <app-address-form (addressEvent)="submitAddress($event)"></app-address-form>
            </div>
        </div>
    </div>
</div>