<div class="container d-flex flex-column">
    <form (ngSubmit)="submit()" [formGroup]="eventForm" class="eventForm">
        <div><h1>New Event</h1></div>

        <div class = "form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" [formControl]="nameCtl">
            <small class="text-danger" *ngIf="nameCtl.hasError('required')">Required</small>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" [formControl]="descriptionCtl"></textarea>
        </div>

        <div class = "form-group">
          <label for="date">Date</label>
          <input type="date" id="date" class="form-control" [formControl]="dateCtl">
          <small class="text-danger" *ngIf="dateCtl.hasError('required')">Required</small>
      </div>

        <div class="form-group">
            <label for="address">Address</label>
            <select class="form-control" id="address" [formControl]="addressCtl">
                    <option *ngFor="let address of addressList" [ngValue]="address.id">{{address.street}} {{address.number}}, {{address.postcode}} {{address.city}} ({{address.country}})</option>
            </select>
        </div>

        <div><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
            Create new Address
            </button>
        </div>



      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <app-address-form (addressEvent)="submitAddress($event)"></app-address-form>
              </div>
          </div>
      </div>

      <div class = "form-group">
        <label for="image">Image link</label>
        <input type="text" id="image" class="form-control" [formControl]="imageCtl">
        <small class="text-danger" *ngIf="imageCtl.hasError('required')">Required</small>
    </div>


      <div class="form-check">
          <input class="form-check-input" name="exampleRadios" type="radio" id="forAll" checked>
          <label for="forAll">Open to all</label>
      </div>

      <div class="form-check">
          <input class="form-check-input" name="exampleRadios" type="radio" id="forTeam" [formControl]="limitedToTeamCtl">
          <label for="forTeam">Team only</label>
      </div>

      <div class="form-check">
          <input class="form-check-input" name="exampleRadios" type="radio" id="forDepartment" [formControl]="limitedToDepartmentCtl">
          <label for="forDepartment">Department only</label>
      </div>


        <div><button type="submit" class="btn btn-primary" >Create</button></div>
    </form>
</div>
