<div class = "container d-flex flex-column p-4">
    <form (ngSubmit)="submit()" [formGroup]="updateForm" class="topicForm">
        <div class = "form-group" *ngIf="updateForm.get('name') as nameCtl">
            <label for="name">Name<span class="text-danger">*</span></label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <small class="text-danger" *ngIf="nameCtl.hasError('required') && nameCtl.dirty">Required</small>
          <small class="text-danger" *ngIf="nameCtl.hasError('maxlength')">Max 50 characters</small>
        </div>

        <div class = "form-group" *ngIf="updateForm.get('description') as descriptionCtl">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control"  formControlName='description'>
            <small class="text-danger" *ngIf="descriptionCtl.hasError('maxlength')">Max 500 characters</small>
        </div>

        <div class = "form-group"  *ngIf="updateForm.get('image') as imageCtl">
            <label for="image">Image link</label>
            <input type="text" id="image" class="form-control"  formControlName='image'>
            <small class="text-danger" *ngIf="imageCtl.hasError('maxlength')">Max 250 characters</small>
          <div *ngIf="imageCtl.value" class="p-2"> <img src="{{imageCtl.value}}" style="width: 10vh; height: 10vh; object-fit: cover;" alt="No image found"></div>
        </div>

        <button *ngIf="!topic" type="submit" class="btn btn-primary" [disabled]="updateForm.invalid">Create</button>
        <button *ngIf="topic" type="submit" class="btn btn-primary" [disabled]="updateForm.invalid">Save</button>
    </form>
</div>
