<div class="container">
  <div *ngFor="let user of userList">
    <div class="row info flex justify-content-left margin-right-0 border-bottom border-secondary p-3" >
      <div class="col-2"><img class="rounded-circle" src="{{user.image}}" alt="img" style="width: 10vh; height: 10vh; object-fit: cover;"></div>
      <div class="col-6 text-center">{{user.username}}</div>

      <div class="row flex-column col-3 actions text-center justify-content-center" *ngIf="!topicId && !eventId">
        <div class="actions">
          <div class="col" ><button class="btn btn-info w-100 mt-1" >See details</button></div>
        </div>
      </div>

    </div>
  </div>
</div>
